<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>SpaceGrotesk-Medium.ttf</string>
		<string>SpaceGrotesk-Bold.ttf</string>
	</array>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_HOST</key>
	<string>$(SUPABASE_HOST)</string>
	<key>USDA_API_KEY</key>
	<string>$(USDA_API_KEY)</string>
</dict>
</plist>
